<div class="container row g-3">
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="First Name" name="firstname" value="{{this.firstname}}" required>
        <label for="floatingInput">First Name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Last Name" name="lastname" value="{{this.lastname}}" required>
        <label for="floatingInput">Last Name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Email@email.com" name="email" value="{{this.email}}">
        <label for="floatingInput">Email</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Phone" name="phone" value="{{this.phone}}">
        <label for="floatingInput">Phone</label>
    </div>
</div>
<div class="col-12">
    <div class="form-floating mb-3">
        <textarea class="form-control" id="floatingInput" placeholder="Comment"  name="comment" style="height: 200px;">{{this.comment}}</textarea>
        <label for="floatingInput">Comments</label>
    </div>
    <div class="col-12 d-grid">

        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</div>
</div>